.centered {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p, h2, input {
	padding: 0;
	margin: 0;
}

input, input:focus {
	border: none;
	border-bottom: 1px solid black;
	outline: none;
}

.verticalAlign {
	display: flex;
    align-items: center;
}

.button {
    background-color: #d95b5b;
    border-radius: 5px;
    color: white;
    padding: 4px;
	cursor: pointer;
	transition: 0.3s;
}

.button:hover {
	filter: brightness(1.5);
}

#submit {
	margin-left: 15px;

}

body {
	width: 173px;
}

#reloadPage {
	text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}