.wkhighlighter_highlighted {
	background-color: rgb(250, 12, 100) !important;
	color: white !important;
}

.wkhighlighter_detailsPopup_kanji {
	background-color: inherit !important;
	color: inherit !important;
	font-size: 60px;
	text-align: center;
	color: white !important;
	margin: 0;
}

.wkhighlighter_detailsPopup {
	background-color: rgb(250, 12, 100);
    position: fixed;
	z-index: 5;
	right: 0;
	bottom: 30px;
    opacity: 0.8;
    width: 150px;
	height: 150px;
	transition: 0.3s;
	cursor: pointer;
}

.wkhighlighter_focusPopup {
    width: 200px;
	height: 200px;
	opacity: 1;
}

.wkhighlighter_rightOverFlowPopup {
	right: -150px !important;
}

.wkhighlighter_popupDetails_readings {
	text-align: center;
	color: white;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

.wkhighlighter_popupDetails_readings_row {
	overflow: hidden;
    height: 20px;
    padding-left: 15px;
    padding-right: 15px;
}