#sec-page .section {
	padding: 20px 10px;
}

.version-wrapper {
	display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

#version {
	margin: unset;
}

#outdatedVersion img {
	filter: invert(28%) sepia(65%) saturate(1633%) hue-rotate(317deg) brightness(88%) contrast(97%) !important;
}

#latestVersion img {
	filter: invert(80%) sepia(30%) saturate(5196%) hue-rotate(76deg) brightness(89%) contrast(74%) !important;
}

#futureVersion img {
	filter: invert(92%) sepia(100%) saturate(7229%) hue-rotate(337deg) brightness(91%) contrast(93%) !important;
	width: 19px;
}

.check-version img {
	width: 14px;
}

.api-key {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.api-key a {
	position: relative;
}

.api-key a .copiedMessage {
	position: absolute;
}

.api-key img {
	width: 15px;
}

.libraries {
	max-height: 260px;
	overflow-y: auto;
}

.libraries > li:not(:last-child) {
	margin-bottom: 15px;
}

.libraries > li > a {
	display: flex;
	align-items: center;
	height: 40px;
}

.libraries > li > a > img {
	width: 40px;
	margin-right: 10px;
}

.libraries > li > p {
	padding-left: 20px;
	margin-top: 5px;
}

.libraries .library-default {
	width: 35px;
	margin-left: 3px;
	padding-right: 3px;
}

.readme-navbar {
    display: flex;
    font-size: 12px;
    overflow: auto;
    margin-bottom: 4px;
    column-gap: 2px;
    padding-bottom: 2px;
}

.readme-navbar > div {
	padding: 5px;
    border: 2px solid var(--default-color);
    color: var(--font-color);
	font-weight: bold;
	background-color: var(--fill-color);
}

.readme-navbar-selected, .readme-navbar > div:hover {
    background-color: var(--default-color) !important;
	color: white !important;
}

.readme {
    max-height: 300px;
    overflow-y: auto;
    scroll-behavior: smooth;
	text-align: justify;
}

.readme h1 {
    margin-bottom: 10px;
    background-color: var(--default-color);
    padding: 8px;
    color: white;
	font-size: 21px;
}

.readme h1 a {
	color: white;
	width: 100%;
    display: block;
}

.readme h1:first-child {
	margin-top: 0;
}

.readme h1:not(:first-child) {
	margin-top: 25px;
}

.readme p {
    font-size: 14px;
	padding: 0 5px;
	padding-bottom: 10px;
	color: var(--font-sec-color);
}

.readme h2 {
    font-size: 16px;
    padding-bottom: 5px;
    margin: 10px 5px;
    border-bottom: 1px solid var(--fade);
}

.readme > ul {
	padding: 0 10px;
	padding-left: 25px;
}

.readme > ul ul {
	padding-left: 15px;
}

.readme li {
    list-style: disc;
	list-style-type: inherit;
	padding: 0 10px;
    padding-bottom: 5px;
}

.md-extra-highlighted {
    font-weight: bold;
    font-style: italic;
}

.footer-icons {
	padding-top: 10px;
	text-align: center;
}

.footer-icons > a:not(:last-child) {
	margin-right: 10px;
}

.footer-icons > a > img {
	width: 30px;
}

.features-info {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.features-info img {
	width: 20px;
}