body {
    padding-right: unset !important;
}

.logo-section {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    margin: 0 5px;
    background-color: var(--default-color);
    padding: 22px;
    color: white;
}

.logo-section > p {
	font-size: 18px;
    font-weight: bold;
}

.api-key-form {
    margin: 0 5px;
    padding: 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

.api-key-form > div:first-child {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 16px;
}

.api-key-form .input-wrapper {
    width: 100%;
    margin-right: 5px;
}

#apiKeyInput, #apiKeyInputWrapper {
    background-color: #eee;
}

#submit {
    text-align: center;
    margin: 5px 0;
}

.bottom-link {
    margin-top: 10px;
    text-align: center;
    font-size: 11px;
}

#version {
    text-align: center;
    color: silver;
    margin-top: 5px;
}

#message {
    font-size: 13px;
    position: absolute;
    right: 25px;
    top: 20px;
}