#sec-page {
    margin: 8px !important;
    margin-top: 45px !important;
}

.features .section {
	padding: 10px;
	padding-bottom: 20px;
}

.features .section h2 {
	padding: 10px 0;
}

.features .section p {
	color: var(--font-sec-color);
    font-size: 13px;
}

.features .section > div {
	margin-left: 5px;
	margin-top: 20px;
}

.keys-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.keys-list-entry {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.keys-list-entry > div:first-child {
	display: flex;
    align-items: center;
    column-gap: 5px;
}

.keys-list-entry .keys-list-key {
    position: relative;
    width: fit-content;
    align-items: center;
    display: flex;
    text-align: center;
    font-weight: bold;
}

.keys-list-entry .keys-list-key img {
    width: 25px;
}

.keys-list-entry .keys-list-key span {
    position: absolute;
    left: 0;
    right: 0;
    color: var(--fill-color);
}

.keys-list-description {

}

.subject-tile {
	font-size: 25px;
	color: white;
}

.subject-details-info {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.subject-details-info-mouse-click {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.subject-details-info-mouse-click img {
    width: 30px;
}

.subject-details-info-mouse-click div {
    color: var(--font-sec-color);
    font-size: 12px;
}

.popout-example {
    margin: 10px 0;
}

.popout-example .side-panel-tab {
    width: fit-content;
    padding: 5px 10px;
    background-color: var(--default-color);
}

.popout-example .side-panel-tab:hover {
    background-color: var(--wanikani);
}

.popout-example .side-panel-tab .navbar-icon {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin: auto;
    width: fit-content;
}

.popout-example .side-panel-tab .navbar-icon img {
    width: 20px;
}

.popout-example .side-panel-tab .navbar-icon p {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.popout-webpage {
    background-color: #dcdcdc;
    color: black;
    margin: 15px 0;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
}

.popout-webpage > div:first-child {
    padding: 8px 15px;
    background-color: var(--fill-color);
    border-radius: 15px;
    color: var(--font-color);
}

.anchor {
    margin-top: -45px;
    margin-bottom: 45px;
}

.table-of-contents {
    position: fixed;
    left: 0;
    background-color: var(--default-color);
    z-index: 1;
    top: 45px;
    transition: 0.2s;
    height: 100%;
}

.table-of-contents h2 {
    color: white;
    padding: 15px;
    padding-right: 20px;
}

.table-of-contents ul {
    display: flex;
    flex-direction: column;
}

.table-of-contents ul li {
}

.table-of-contents ul li a {
    display: block;
    font-size: 15px;
    padding: 5px 20px;
    color: white;
    opacity: unset !important;
    transition: unset !important;
}

.table-of-contents ul li a:hover {
    background-color: var(--wanikani);
}