#userInfoWrapper {
	margin: 0px 7px;
	padding-top: 5px;
	position: relative;
}

#userInfoWrapper > div {
	margin-bottom: 10px;
	overflow: hidden;
}

.userInfoWrapper-title {
	text-align: center;
    background-color: var(--default-color);
    color: white;
    padding: 7px;
    font-size: 14px;
}

.userInfoWrapper-wrapper {
	border: 1px solid silver;
    border-radius: 0px 0px 5px 5px;
}

#scriptsUptime {
    background-color: #2a2d48;
    color: white;
    padding: 6px;
    border-radius: 4px;
}

#scriptsUptime > ul {
	display: flex;
}

#scriptsUptime > ul > li {
	display: flex;
	margin: auto;
}

#scriptsUptime > ul > li > div {
	display: flex;
    width: 13px;
    height: 13px;
	background-color: #ff6d6d;
    border-radius: 15px;
    margin-left: 10px;
}

.summaryValue {
	font-size: 35px;
    padding: 7px 17px;
    display: block;
    color: white;
}

#progression-bar {
    height: 25px;
    display: flex;
    flex-direction: row;
}

#progression-bar > li {
    height: 100%;
    overflow: hidden;
}

#progression-bar > li:not(:last-of-type) {
    color: white;
}

#progression-bar > li > div {
    text-align: center;
    margin-top: 5px;
}

#progression-stats > ul {
	display: flex;
	flex-direction: row;
	margin-bottom: 2px;
}

#progression-stats > ul > li {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 25px;
	margin: 0 1px;
	position: relative;
}

#progression-stats > ul > li > div:not(.progression-menu) {
	padding: 16px;
}

.progression-menu {
	position: absolute;
    background-color: var(--default-color);
    font-size: 13px;
    border: 2px solid white;
    border-radius: 10px;
	top: -75px;
    left: -50px;
    margin: auto;
    width: max-content;
	pointer-events: none;
	z-index: 1;
}

.progression-menu > p {
	background-color: white;
    padding: 3px;
    font-weight: bold;
}

.progression-menu > div {
	width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
}

.progression-menu > ul {
	display: flex;
    flex-direction: column;
    text-align: left;
	padding: 7px;
}

#levels-progress > ul {
    display: flex;
    margin: 1px 0px;
}

#levels-progress > ul > li {
    height: 25px;
    overflow: hidden;
}

#levels-progress > ul > li > div {
    text-align: center;
    margin-top: 5px;
}

#levels-progress > ul > span {
    position: absolute;
    right: 0px;
    background-color: var(--default-color);
    color: white;
    padding: 5px;
    width: 42px;
}

.levelup-marker {
    pointer-events: none;
    position: absolute;
    left: 0;
    height: 25px;
}

.levelup-marker > div {
	border-right: 2px solid black;
    height: 25px;
}


#kanjiHighlightedList {
	overflow-y: auto !important;
    max-height: 150px;
}

#kanjiHighlightedList ul {
    padding: 0px 0px 4px 4px;
}

#kanjiHighlightedList li {
	font-size: 25.2px;
}

.not-found > p:first-child {
	text-align: center;
    padding-bottom: 12px;
    color: rgb(216, 216, 216);
    font-size: 52px;
    margin-top: -10px;
    width: 100%;
    position: relative;
}

.not-found > p:last-child {
	text-align: center;
    padding: 0px 5px;
    color: silver;
    font-size: 13px;
}

.kanjiHighlightedLearned {
	background-color: var(--highlight-default-color);
}

.kanjiHighlightedNotLearned {
	background-color: var(--notLearned-color);
}

.kanjiHighlightedLearned, .kanjiHighlightedNotLearned {
	color: white;
}