body {
    margin: 0;
}

.top-level-list {
    display: flex;
    left: 0;
    position: fixed;
    z-index: 9;
    background-color: white;
    width: 90.6%;
    overflow: auto;
    scroll-behavior: smooth;
    transition: 0.3s;
}

.top-level-list > div {
    padding: 15px;
    background-color: white;
    border-right: 1px solid #e9e9e9;
}

.top-level-list > .passed-level, .top-level-list > .current-level, .top-level-list > .selected-level {
    color: white;
    font-weight: bold;
}

.top-level-list > .passed-level {
    background-color: var(--wanikani);
}

.top-level-list > .current-level {
    background-color: var(--wanikani-sec);
}

.top-level-list > .selected-level {
    background-color: var(--default-color);
}

.top-level-list-hidden {
    top: -5px;
}

.levels-chooser-wrapper {
	border-radius: 15px;
    background-color: var(--default-color);
    color: white;
	position: relative;
	transition: 0.3s;
}

.levels-chooser-cover {
	position: absolute;
    width: 100%;
	height: 100px;
	background-color: var(--wanikani);
	background-image: url(/images/wanikani-background.png);
    background-size: cover;
	border-bottom: 4px solid white;
}

.levels-chooser {
	display: flex;
	align-items: center;
	position: relative;
	transition: 0.3s;
}

.levels-chooser li {
	width: 100%;
    text-align: center;
	transition: 0.3s;
	user-select: none;
}

.levels-chooser li:nth-of-type(2) {
	font-size: 80px;
}

.levels-chooser li:not(:nth-of-type(2)) {
	font-size: 50px;
    opacity: 0.3;
	display: flex;
	align-items: center;
}

.levels-chooser li:not(:nth-of-type(2)):hover {
	opacity: 0.7;
	cursor: pointer;
	transform: scale(1.3);
}

.levels-chooser li > div {
    width: 100%;
}

.levels-chooser-small-level {
	font-size: 30px;
	opacity: 0.3;
	position: absolute;
    width: fit-content;
	pointer-events: none;
}

.level-up-prediction img {
    width: 13px;
    filter: invert(1);
    position: absolute;
    right: -30px;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.6;
}

.level-up-prediction {
    text-align: center;
    color: var(--fill-color);
    width: fit-content;
    margin: 10px auto;
    position: relative;
}

.level-up-prediction > div {
    color: var(--border-color);
}

.level-up-prediction-info {
    position: absolute;
    width: fit-content;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: var(--default-color) !important;
    left: -40px;
    right: -40px;
    z-index: 10;
    top: 35px;
    box-shadow: 0 0 5px 0px;
}

.level-progress-bar {
	width: 100%;
    height: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid silver;
    overflow: hidden;
	background-color: #c7c7c7;
	box-shadow: inset 0px 2px 4px #888686;
	display: flex;
    position: relative;
}

.level-progress-bar > div:first-child {
	background-color: var(--wanikani);
    height: 100%;
	width: 0;
}

.level-progress-bar > span {
    background-color: unset;
    color: #888888;
    margin-top: 7px;
    margin-left: 6px;
}

.level-progress-bar > div > p {
    height: 100%;
    color: white;
    text-align: center;
    padding-top: 7px;
    font-weight: bold;
}

.level-progress-bar-marker {
    position: absolute;
    height: 100%;
    border-right: 2px solid var(--default-color);
    pointer-events: none;
}

.passed-subject-check {
	width: 14px;
    position: absolute;
    top: -3px;
    right: -5px;
    filter: invert(72%) sepia(73%) saturate(3496%) hue-rotate(87deg) brightness(106%) contrast(109%) drop-shadow(0px 0px 2px black);
	z-index: 1;
}

.subject-next-review {
    position: absolute;
    top: -4px;
    right: -8px;
    z-index: 1;
    text-shadow: 0 0 black;
    filter: drop-shadow(0px 0px 2px black);
}

.subject-next-review div {
    font-size: 10px;
    background-color: #42f541;
    padding: 2px 3px;
    border-radius: 5px;
    color: black;
}

#profile-pic {
    padding: 15px;
    position: absolute;
    z-index: 1;
}

#profile-pic a {
    opacity: unset !important;
}

#profile-pic a:hover img {
    border-color: var(--wanikani)
}

#profile-pic img {
    border-radius: 50%;
    border: 4px solid white;
    width: 140px;
}

#username {
    position: absolute;
    left: 170px;
    top: 110px;
    font-size: 17px;
    color: white;
}

#started {
    position: absolute;
    left: 170px;
    top: 135px;
    font-size: 15px;
    color: var(--font-sec-color);
}

#edit, #accolades {
    position: absolute;
    top: 115px;
    filter: invert(1);
    z-index: 1;
}

#accolades img {
    width: 20px;
}

#edit img {
    width: 17px;
}

#accolades {
    right: 15px;
}

#edit {
    right: 50px;
}

#level-progress {
    padding: 15px 35px;
    position: relative;
}

#level-progress > p {
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    column-gap: 6px;
}

#level-progress > p > span {
    color: var(--font-sec-color);
    font-size: 12px;
}

.scroll-down {
    padding: 15px 35px;
    text-align: center;
}

.scroll-down i {
    border-color: white;
    padding: 8px;
}

.subject-tab {
    color: white;
    position: relative;
    padding: 5px 5px 5px 10px;
    background-color: var(--default-color);
    display: flex;
    align-items: center;
    font-size: 23px;
}

.subject-tab > span {
    font-size: 12px;
    margin-left: 10px;
    color: silver;
}

.subject-tab .progress {
    height: 4px;
    background-color: var(--wanikani-sec);
    position: absolute;
    bottom: -4px;
    left: 0;
}

.menu-icons {
	position: absolute;
    right: 10px;
	display: flex;
	align-items: center;
}

.menu-icons > img {
	width: 18px;
	height: 18px;
    filter: invert(1);
}

.menu-icons > div[title="Close"] {
    padding: 0 7px;
}

.menu-icons > div[title="Close"] > i {
    border-color: white;
    padding: 5px;
}

.menu-icons > div[title="Close"] > .up {
    margin-bottom: -8px;
}

.menu-icons > div[title="Close"] > .down {
    margin-bottom: -2px;
}

.menu-icons > * {
    padding: 0 5px;
}

.menu-popup {
    position: absolute;
    top: 30px;
    right: 5px;
    background-color: var(--fill-color);
    border: 2px solid var(--default-color);
    color: var(--font-color);
	overflow: hidden;
	transition: 0.5s;
	z-index: 2;
}

.menu-popup > p {
	font-size: 11px;
    color: white;
    text-align: right;
    padding: 7px;
    border: 1px solid white;
    background-color: var(--default-color);
}

.menu-popup > ul {
	padding: 10px;
}

.menu-popup > ul > li {
    font-size: 13px;
	display: flex;
    align-items: center;
}

.menu-popup > ul > li:not(:last-child) {
	margin-bottom: 10px;
}

.menu-popup > ul > li > label {
	margin-right: 10px;
	width: 100%;
}

.subject-types {
    padding: 10px;
    font-size: 25px;
    background-color: var(--fill-color);
}

.subject-types > div {
    position: relative;
    margin-bottom: 10px;
}

.subject-container > ul {
    padding: 5px;
    padding-top: 10px;
}

.subject-container > ul li {
    position: relative;
    min-height: 40px;
}

.time-next-review-subject {
	font-size: 10px;
    background-color: #42f541;
    text-align: center;
    padding: 2px;
    position: absolute;
    top: -5px;
    right: -5px;
    color: black;
    border-radius: 5px;
	box-shadow: 0px 0px 2px black;
	z-index: 1;
    filter: drop-shadow(0px 0px 2px black);
}

.subject-passed-progress {
	position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    flex-direction: row;
    column-gap: 1px;
    overflow: hidden;
}

.subject-passed-progress > div {
	width: 100%;
	height: 100%;
	background-color: white;
}

.time-in-level {
    background-color: white;
    width: 352px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: inline-block;
}

.time-in-level > .label {
    text-align: center;
    padding: 15px;
    font-size: 13px;
    color: var(--font-sec-color);
}

.past-times {
    position: absolute;
    right: 50px;
    bottom: 25px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.past-times > .past-times-n {
    font-size: 14px;
    font-weight: bold;
    color: var(--font-sec-color)
}

.past-times > img {
    width: 20px;
    opacity: 0.6;
}
