#reviewsChart {
	display: flex;
    position: relative;
    margin-top: 15px;
}

#reviewsChart > i {
	border-color: #aaaaaa;
    padding: 6px;
	position: absolute;
	top: 3px;
}

#reviewsDaySelector {
	text-align: right;
	margin: 10px 0;
}

#reviewsDaySelector > label {
	padding-right: 10px;
	font-size: 13px;
	color: var(--font-sec-color);
}

#reviewsDaySelector > input {
	height: 17px;
	background-color: #dcdcdc;
	color: #25252c;
}

#reviewsPage-nmrReviews24hLabel {
	color: var(--font-sec-color);
    margin: 6px 5px 0 0;
    text-align: right;
}

#reviewsPage-nmrReviews24hLabel > b {
	color: var(--reviews-color);
}