.searchArea {
	width: 100%;
	margin-right: 5px;
}

.searchMenu {
	display: flex;
    align-items: center;
    column-gap: 10px;
    position: fixed;
    top: 50px;
    z-index: 10;
    background-color: var(--body-color);
    width: 416px;
    left: 0;
    padding: 10px;
}

.textInputWrapper {
	display: flex;
    border-radius: 17px;
    padding: 4px 6px;
	position: relative;
	background-color: white;
	height: 23px;
    align-items: center;
	width: 100%;
}

.textInputWrapper input {
	width: 100%;
    margin-right: 8px;
}

#kanjiSearchInput {
	width: 100%;
	border: 0;
	font-size: 15px;
}

.textInputIcon {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #797979;
    width: 14px;
    height: 14px;
	opacity: 0.7;
}

.kanjiSearchTypeWrapper {
    color: white;
    padding: 0px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    cursor: pointer;	
	width: 26px;
	text-align: center;
	height: 100%;
}

#kanjiSearchTypeRomaji {
	font-size: 20px;
	background-color: #dc60cd;
}

#kanjiSearchTypeKana {
	font-size: 15px;
	background-color: #60aedc;
}

#kanjiSearchType {
	top: -3px;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 2px;
    margin: auto;
    height: fit-content;
}

.search-loading {
	margin: 10px !important;
}

#searchResultItemWrapper {
	font-size: 15px;
	text-align: center;
}

#searchResultItemWrapper::-webkit-scrollbar {
	width: 10px;
}
  
#searchResultItemWrapper::-webkit-scrollbar-track {
	background: gray;
}

#searchResultItemWrapper::-webkit-scrollbar-thumb {
	background-color: var(--default-color);    
	border-radius: 20px;        
}

.searchResultItemLine {
	display: flex;
	transition: 0.2s;
	position: relative;
    margin: 2px 3px;
	text-align: left;
	color: white;
	background-color: var(--default-color);
	border-bottom-right-radius: 10px;
	min-height: 148px;
}

.searchResultItemLine .kanjiDetails {
	display: flex;
    width: 364px;
    cursor: pointer;
    flex-direction: column;
}

.searchResultItemLine span {
	padding: 0px 4px;
	
}

.searchResultItemSquare {
	display: inline-flex !important;
	padding: 7px !important;
	min-height: unset !important;
}

.searchResultItemSquare > div {
	width: unset !important;
}

.searchResultItemSquare .searchResultItem {
	margin: 0 !important;
	padding: 0 !important;
}
	
.searchResultItemSquare .searchResultType, .searchResultItemSquare .searchResultItemInfo, .searchResultItemSquare .searchResultItemType {
	display: none !important;
}

.searchResultItem {
    font-size: 35px;
    padding-right: 0px !important;
    margin-left: 5px;
}

.searchResultType {
	margin-left: 10px;
    margin-bottom: 5px;
}

.searchResultVocab {
	writing-mode: vertical-rl;
	text-orientation: upright;
	padding: 0px !important;
	margin-left: -5px;
}

.searchResultItemLevel {
    position: absolute;
    background-color: white;
    color: black;
    padding: 3px !important;
    font-size: 12px;
    right: 0;
    top: 0;
    font-weight: 900;
    width: 14px;
    text-align: center;
    box-shadow: black 0px 3px 0px 0px;
    border: 1px solid black;
}

.searchResultItemTitle {
	font-size: 17px;
    font-weight: 900;
    margin-bottom: 2px;
	padding-right: 20px !important;
	border-bottom: 1px solid #a3a3a3;
    padding-bottom: 2px !important;
	height: fit-content;
}

.searchResultItemInfo {
	display: grid;
    background-color: white;
	padding: 2px 6px;
	pointer-events: none;
	color: black;
	min-height: 67px;
	border-bottom: 4px solid var(--default-color);
}

.searchResultItemType {
	top: 0px;
    right: 0px;
    position: absolute;
    padding: 0 !important;
    border-bottom-right-radius: 6px;
	height: 100%;
	width: 45px;
    display: flex;
    flex-direction: column;
	text-align: center;
	background-color: var(--default-color);
	border-left: 1px solid #a3a3a3;
}

.searchResultItemType > div {
	padding: 5px;
}

.searchResultItemType > div:first-child {
	margin-top: 4px;
}

.searchResultItemType > div:not(:last-child) {
	border-bottom: 1px solid #a3a3a3;
}

.searchResultItemType img {
	width: 15px;
	filter: invert(1);
}


.searchResultItemType-normal {
    width: 20px;
    height: 20px;
}

.searchResultItemType-small {
    width: 15px;
    height: 15px;
}

.searchResultItemType-tiny {
    width: 10px;
    height: 10px;
}

#searchResultWrapper {
	margin-top: 110px;
}

#searchResultNavbar {
	display: flex;
    padding: 7px 0;
}

.searchResultNavbarOptionsWrapper img {
	width: 22px;
	pointer-events: none;
}

.searchResultNavbarOption {
	padding: 0 4px;
	opacity: 0.5;
}

.searchResultNavbarTarget:hover, .searchResultNavbarOption:hover {
	opacity: 1 !important;
}

.searchResultNavbarOption:not(:last-child) {
	padding: 0 4px;
}

.searchResultNavbarOption > img {
	pointer-events: none;
	border-radius: 2px;
}

.searchResultNavbarTarget {
	opacity: 0.5;
}

.searchOptionSeparator {
	margin: 5px 8px;
    width: 2px;
    background-color: silver;
}

#nmrKanjiFound { 
	width: 100%;
	margin: auto;
	font-size: 14px;
	text-align: center;
}

#nmrKanjiFound > span {
	vertical-align: middle;
}

.loadMore {
	padding: 10px;
    border: 1px solid silver;
    background-color: var(--default-color);
    color: white;
	text-align: center;
}