html {
	background-color: var(--default-color) !important;
}

#subject-details .sd-detailsPopup {
	z-index: 10;
	margin-top: 50px;
	width: 420px;
	transition: unset;
	margin-right: 45px;
}

#sd-detailsPopupFix, #sd-detailsPopupSubjectLock, #sd-detailsPopupKeyBindings, #sd-detailsPopupCloseX {
	display: none;
}

#sd-detailsPopupGoUp {
	right: unset;
	left: 9px;
}

#sd-detailsPopupCopy {
	top: unset;
	left: 9px;
    bottom: 55px;
}

#subject-details .sd-popupDetails_navbar {
	top: 250px
}

#subject-details .sd-focusPopup_kanji {
	border-bottom: 2px solid white;
	transition: unset;
	min-height: 140px;
	width: 90%;
}

#subject-details .sd-popupDetails_detailedInfoWrapper > .sd-popupDetails_details {
	margin-top: -30px !important;
}

#subject-details .sd-popupDetails_quickStats {
	width: 88%;
}

#subject-details .sd-popupDetails_navbar {
	width: 50px;
	top: 54px;
    right: 45px;
    height: 142px;
}

#subject-details .sd-popupDetails_navbar > ul {
	display: flex;
    flex-direction: column;
    width: 100%;
}

#subject-details .sd-popupDetails_navbar > ul > li {
	height: 100%;
}

#subject-details .sd-popupDetails_navbar > ul > li img {
	width: 18px;
}

#subject-details .sd-popupDetails_details > div:last-child {
	margin-bottom: 55px !important;
}

#subject-details .sd-detailsPopup {
	box-shadow: unset !important;
}

#subject-details .sd-detailsPopup_sectionContainer ul {
	width: 96%;
}

#subject-details .sd-popupDetails_drawButtons {
	flex-direction: row;
	margin-bottom: 10px;
	column-gap: 5px;
	display: flex !important;
	align-items: center;
}

#subject-details .sd-popupDetails_strokes {
	display: flex !important;
	flex-direction: column;
	row-gap: 5px;
}

#subject-details .sd-popupDetails_strokes > div {
	margin: auto;
	width: fit-content;
}