.wkhighlighter_highlighted {
	all: unset !important;
	background-color: #4d70d1 !important;
	color: white !important;
	display: unset !important;
	font-size: 100% !important;
}

.wkhighlighter_detailsPopup_kanji {
	background-color: inherit !important;
	color: inherit !important;
	font-size: 60px;
	text-align: center;
	color: white !important;
	margin: 0;
}

.wkhighlighter_detailsPopup {
	background-color: #4d70d1;
    position: fixed;
    z-index: 10000;
	right: 0;
	bottom: 0;
    opacity: 0.8;
    width: 150px;
	height: 150px;
	transition: 0.3s;
	/* cursor: pointer; */
	overflow: hidden;
	box-shadow: 0px 0px 5px 1px black;
}

.wkhighlighter_focusPopup {
    width: 275px;
	opacity: 1;
	overflow: hidden;
	transition: 0.3s;
}

.wkhighlighter_detailsPopup::-webkit-scrollbar {
	width: 10px;
}
  
.wkhighlighter_detailsPopup::-webkit-scrollbar-track {
	background: #4d70d1;        
}

.wkhighlighter_detailsPopup::-webkit-scrollbar-thumb {
	background-color: white;    
	border-radius: 20px;        
}

.wkhighlighter_focusPopup_kanji {
	margin-top: 0 !important;
	padding: 10px 0;
    position: fixed;
    background-color: #4d70d1;
	border-bottom: 3px solid white;
	transition: 0.5s;
}

.wkhighlighter_auto_height {
	height: auto !important;
}

.wkhighlighter_rightOverFlowPopup {
	right: -150px !important;
}

.wkhighlighter_popupDetails_readings {
	text-align: center;
	color: white;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

.wkhighlighter_popupDetails_readings_row {
	overflow: hidden;
    height: 20px;
    padding-left: 15px;
    padding-right: 15px;
	display: inline-flex;
}

.wkhighlighter_popupDetails_detailedInfoWrapper {
	/* pointer-events: none; */
    color: white;
	font-size: 15px;
	margin-top: 140px;
	transition: 0.3s;
}

.wkhighlighter_popupDetails_separator {
	height: 20px;
    border-bottom: 2px solid white;
}

.wkhighlighter_popupDetails_p {
	margin: 5px 0;
}

.wkhighlighter_popupDetails_kanjiTitle {
	font-size: 25px;
	margin-bottom: 15px;
}

.wkhighlighter_popupDetails_title {
	color: #ffffff;
    background-color: #434141;
    padding: 2px;
	border-left: 3px solid white;
	padding-left: 5px;
}

.wkhighlighter_radicalTag {
    font-weight: bolder;
    color: #00ffe7;
}

.wkhighlighter_kanjiTag {
    color: #fff700;
    font-weight: bolder;
}

.wkhighlighter_readingTag {
	background-color: rgb(46, 46, 46);
}

.wkhighlighter_jaTag {
    font-weight: bolder;
}

.wkhighlighter_detailsPopup_cards {
	background-color: inherit !important;
	color: inherit !important;
	font-size: 40px;
    margin: 0;
}

.kanjiLevelCard {
	position: absolute;
    right: -10px;
    bottom: -15px;
    background: white;
    border: 2px solid black;
    padding: 3px;
    font-weight: bold;
    box-shadow: 0px 3px 0px 0px black;
    border-radius: 4px;
}

.wkhighlighter_detailsPopup_usedRadicals_row, .wkhighlighter_detailsPopup_similarKanji_row{
    padding: 5px;
    margin: 7px;
    color: black;
	border-radius: 2px;
	display: inline-flex;
	box-shadow: rgb(0 0 0) 0px 4px 0px 2px;
	position: relative;
	cursor: pointer;
	transition: 0.2s;
}

.wkhighlighter_detailsPopup_usedRadicals_row {
	background-color: #45ffe7;
}

.wkhighlighter_detailsPopup_similarKanji_row {
	background-color: #fff700;
}

.wkhighlighter_detailsPopup_similarKanji_row:hover, .wkhighlighter_detailsPopup_usedRadicals_row:hover {
	transform: scale(1.1);
}

.wkhighlighter_detailsPopup_sectionContainer { 
	margin: 15px 0;
}

a {
	text-decoration: none;
}

/* details popup base style */
.wkhighlighter_detailsPopup ul {
	margin: 0;
}
