/* Table Of Contents 			*/
/* 0. VARIABLES 				*/
/* 1. DEFAULTS 					*/
/* 2. GENERAL 					*/
/* 3. HIGHLIGHTS 				*/
/* 4. DETAILS POPUP 			*/
/*		4.1 SCROLLBAR 			*/
/*		4.2 POPUP UPPER DIV 	*/
/*		4.3 POPUP INFO DIV 		*/
/* 			4.3.1 SECTIONS		*/


/* 0. VARIABLES */

:root {
	--highlight-default-color: #2c5091;
	--default-color: #475058;
	--notLearned-color: #a32727;
	--radical-tag-color: #65b6ae;
	--kanji-tag-color: #e7e485;
	--vocab-tag-color: #fc759b;
	--reading-tag-bkcolor: #2e2e2e;
	--popup-details-title-color: white;
	--popup-details-title-bkcolor: #434141;
	--detailsPopup-opacity: 0.8;
}

/* 1. DEFAULTS */

.wkhighlighter_detailsPopup a {
	text-decoration: none !important;
}

.wkhighlighter_detailsPopup * {
	padding: 0px;
	margin: 0px;
}

.wkhighlighter_detailsPopup li {
	list-style-type: none !important;
}

.wkhighlighter_detailsPopup div {
	display: block;
}

.wkhighlighter_detailsPopup strong {
	font-weight: 600;
}

/* 2. GENERAL */
.clickable { 
	cursor: pointer;
	transition: 0.2s;
}

.clickable:hover {
	opacity: 0.5 !important;
}

.hidden {
	display: none !important;
}

.faded {
	opacity: 0.3 !important;
}

/* 3. HIGHGLGHTS */

.wkhighlighter_highlighted,
.wkhighlighter_highlighted_underlined,
.wkhighlighter_highlighted_bold,
.wkhighlighter_highlightedNotLearned {
	font-size: 100% !important;
	display: unset !important;
}

.wkhighlighter_highlightedNotLearned {
	all: unset !important;
	background: var(--notLearned-color) !important;
	color: white !important;
}

.wkhighlighter_highlighted {
	all: unset !important;
	background: var(--highlight-default-color) !important;
	color: white !important;
}

.wkhighlighter_highlighted_underlined {
    background: unset !important;
    color: inherit !important;
    border-bottom: 3px solid var(--highlight-default-color) !important;
}

.wkhighlighter_highlighted_bold {	
    background: unset !important;
    color: var(--highlight-default-color) !important;
    font-weight: bold !important;
}


/* 4. DETAILS POPUP */

.wkhighlighter_detailsPopup_kanji {
	background-color: inherit !important;
	color: inherit !important;
	font-size: 60px !important;
	text-align: center;
	color: white !important;
}

.wkhighlighter_detailsPopup {
	background-color: var(--default-color);
    position: fixed;
    z-index: 10000;
	right: 0;
	bottom: 0;
    opacity: var(--detailsPopup-opacity);
    width: 150px;
	height: 170px;
	transition: 0.3s;
	overflow: hidden;
	box-shadow: 0px 0px 5px 1px black;
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 1.34;
	scroll-behavior: smooth;
}

.wkhighlighter_detailsPopup > div {
	text-align: center;
    /* margin-top: 10px; */
	pointer-events: none;
}

.wkhighlighter_focusPopup {
    width: 275px;
	opacity: 1;
	overflow: hidden;
	transition: 0.3s;
}

.wkhighlighter_focusPopup > div {
    margin-top: unset;
	pointer-events: all;
}

.wkhighlighter_focusPopup > .wkhighlighter_popupDetails_detailedInfoWrapper {
	text-align: left;
}

	/* 4.1 SCROLLBAR */

.wkhighlighter_detailsPopup::-webkit-scrollbar {
	width: 10px;
}
  
.wkhighlighter_detailsPopup::-webkit-scrollbar-track {
	background: var(--default-color);
}

.wkhighlighter_detailsPopup::-webkit-scrollbar-thumb {
	background-color: white;    
	border-radius: 20px;        
}


	/* 4.2 POPUP UPPER DIV */

.wkhighlighter_focusPopup_kanji {
	margin-top: 0 !important;
	padding: 10px 0 !important;
    position: fixed;
    background-color: var(--default-color);
	border-bottom: 3px solid white;
	transition: 0.5s;
	text-align: center !important;
	z-index: 1;
}

#wkhighlighter_detailsPopupKanjiLock {
    bottom: 14px;
    left: 9px;
}

#wkhighlighter_detailsPopupFix {
    bottom: 40px;
    left: 9px;
}

#wkhighlighter_detailsPopupGoUp {
    bottom: 14px;
    right: 9px;
}

#wkhighlighter_detailsPopupGoBack {
    top: 8px;
    left: 9px;
	transform: rotate(-90deg);
}

#wkhighlighter_detailsPopupCloseX {
    top: 8px;
    right: 9px;
}

.wkhighlighter_detailsPopupButton {
	position: absolute;
}

.wkhighlighter_detailsPopupButton>img {
	width: 18px;
    filter: invert(1);
	pointer-events: none;
}

.wkhighlighter_auto_height {
	height: auto !important;
}

.wkhighlighter_rightOverFlowPopup {
	right: -150px !important;
}

.wkhighlighter_popupDetails_readings {
	display: flex;
    flex-direction: column;
	color: white;
	font-size: 15px;
}

.wkhighlighter_popupDetails_readings_row {
	overflow: hidden;
    height: 20px;
    padding-left: 15px !important;
    padding-right: 15px !important;
	display: inline-flex;
	margin: auto;
}


	/* 4.3 POPUP INFO DIV */

.wkhighlighter_popupDetails_detailedInfoWrapper {
    color: white;
	font-size: 15px;
	margin-top: 140px !important;
	transition: 0.3s;
	text-align: left;
}

.wkhighlighter_popupDetails_separator {
	height: 20px;
    border-bottom: 2px solid white;
}

.wkhighlighter_popupDetails_p {
	margin: 5px 0 !important;
}

.wkhighlighter_popupDetails_kanjiTitle {
	font-size: 25px;
	margin-bottom: 15px !important;
}

		/* 4.3.1 SECTIONS */

.wkhighlighter_detailsPopup_sectionContainer { 
	margin: 15px 0 !important;
}

.wkhighlighter_detailsPopup_sectionContainer p:not(span) {
    color: white;
}

.wkhighlighter_popupDetails_title {
	color: var(--popup-details-title-color);
    background-color: var(--popup-details-title-bkcolor);
    padding: 2px 2px 2px 5px !important;
	border-left: 3px solid white;
}

.wkhighlighter_radicalTag {
    color: var(--radical-tag-color);
}

.wkhighlighter_kanjiTag {
    color: var(--kanji-tag-color);
}

.wkhighlighter_vocabularyTag {
    color: var(--vocab-tag-color);
}

.wkhighlighter_readingTag {
	background-color: var(--reading-tag-bkcolor);
}

.wkhighlighter_jaTag,
.wkhighlighter_radicalTag,
.wkhighlighter_kanjiTag,
.wkhighlighter_vocabularyTag {
    font-weight: bolder;
}

.wkhighlighter_detailsPopup_cards {
	background-color: inherit !important;
	color: inherit !important;
	font-size: 40px !important;
}

.itemLevelCard {
	position: absolute;
    right: -13px;
    bottom: -5px;
    background: white;
    border: 2px solid black;
    padding: 3px !important;
    font-weight: bold;
    box-shadow: 0px 3px 0px 0px black;
    border-radius: 4px;
}

.wkhighlighter_detailsPopup_cardRow {
    padding: 5px !important;
    margin: 5px 8px !important;
    color: black;
	border-radius: 2px;
	display: inline-flex;
	box-shadow: rgb(0 0 0) 0px 4px 0px 2px;
	position: relative;
	cursor: pointer;
	transition: 0.2s;
	max-width: 180px;
	min-height: 53px;
}

.wkhighlighter_detailsPopup_cardRow a {
	color: black !important;
    text-decoration: none !important;
    margin: auto !important;
}

.wkhighlighter_detailsPopup_usedRadicals_row {
	background-color: var(--radical-tag-color);
}

.wkhighlighter_detailsPopup_similarKanji_row {
	background-color: var(--kanji-tag-color);
}

.wkhighlighter_detailsPopup_vocab_row {
	background-color: var(--vocab-tag-color);
}

.wkhighlighter_detailsPopup_cardRow:hover {
	transform: scale(1.15);
	z-index: 1;
}

.wkhighlighter_detailsPopup_vocab_row:hover,
.wkhighlighter_detailsPopup_similarKanji_row:hover {
	border-radius: 2px 0px 0px 2px;
}

.wkhighlighter_detailsPopup_cardSideBar {
	width: 30px;
    background-color: white;
    position: absolute;
    height: 100%;
    right: -30px;
    top: 0;
	text-align: center;
    box-shadow: rgb(0 0 0) 2px 4px 0px 2px;
    border-radius: 0px 2px 2px 0px;
}

.wkhighlighter_detailsPopup_cardSideBar > ul li:not(:last-child) {
	border-bottom: 1px solid rgb(172, 172, 172);
}

.wkhighlighter_detailsPopup_cardSideBar_icon {
	pointer-events: none;
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
	margin: auto !important;
}

.wkhighlighter_detailsPopup_sentencesWrapper {
	border-left: 3px solid white;
    margin: 8px 0px !important;
    background-color: rgb(32, 32, 32);
    border-bottom-right-radius: 8px;
	transition: 0.3s;
}

.wkhighlighter_detailsPopup_sentencesWrapper:hover {
	transform: scale(1.1);
}

.wkhighlighter_detailsPopup_sentencesWrapper .wkhighlighter_highlighted, .wkhighlighter_highlightedNotLearned {
	cursor: pointer !important;
}
