:root {
	--highlight-default-color: #2c5091;
	--default-color: #404040;
	--notLearned-color: #a32727;
}

.clickable { 
	cursor: pointer;
	transition: 0.2s;
}

.clickable:hover {
	opacity: 0.5 !important;
}

.hidden {
	display: none !important;
}

.faded {
	opacity: 0.3 !important;
}

.wkhighlighter_highlighted,
.wkhighlighter_highlighted_underlined,
.wkhighlighter_highlighted_bold,
.wkhighlighter_highlightedNotLearned {
	font-size: 100% !important;
	display: unset !important;
}

.wkhighlighter_highlighted, .wkhighlighter_highlightedNotLearned {
	all: unset !important;
	color: white !important;
}

.wkhighlighter_highlightedNotLearned {
	background-color: var(--notLearned-color) !important;
}

.wkhighlighter_highlighted {
	background-color: var(--highlight-default-color) !important;
}

.wkhighlighter_highlighted_underlined {
    border-bottom: 3px solid var(--highlight-default-color) !important;
}

.wkhighlighter_highlighted_bold {	
    color: var(--highlight-default-color) !important;
}

.wkhighlighter_highlightedNotLearned_underlined {
	border-bottom: 3px solid var(--notLearned-color) !important;
}

.wkhighlighter_highlightedNotLearned_bold {
	color: var(--notLearned-color) !important;
}

.wkhighlighter_highlighted_underlined, .wkhighlighter_highlightedNotLearned_underlined {
    color: inherit !important;
}

.wkhighlighter_highlighted_bold, .wkhighlighter_highlightedNotLearned_bold {
    font-weight: bold !important;
}

.wkhighlighter_highlighted_underlined, .wkhighlighter_highlighted_bold, .wkhighlighter_highlightedNotLearned_underlined, .wkhighlighter_highlightedNotLearned_bold {
    background: unset !important;
}