/* BAR */

.tiles-list-bar {
	height: 20px;
}

.tiles-list-bar > ul {
	height: 100%;
	display: flex;
}

.tiles-list-bar > ul > li {
	position: relative;
}

.tiles-list-bar > ul > li > a {
	height: 100%;
	display: block;
}

	/* bar popup */
.tiles-list-bar > ul > li > div {
	position: absolute;
    width: 60px;
    height: 24px;
    border-radius: 3px;
    background-color: var(--default-color);
    top: 25px;
    color: white;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 20px;
	text-align: center;
	z-index: 1;
}

/* END BAR */