.centered {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

li {
	list-style: none;
}

p, h2, input, li, ul {
	padding: 0;
	margin: 0;
}

input, input:focus {
	border: none;
	border-bottom: 1px solid black;
	outline: none;
}

.verticalAlign {
	display: flex;
    align-items: center;
}

.button {
    background-color: #dc6560;
    border-radius: 5px;
    color: white;
    padding: 4px;
	cursor: pointer;
	transition: 0.3s;
	text-align: center;
}

.button:hover {
	filter: brightness(1.5);
}

#submit {
	text-align: center;
	margin: 5px 0;
}

body {
	width: 200px;
}

#reloadPage {
	text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: #d95b5b;
}

#footerWarning {
	font-size: 9px;
    margin-bottom: 4px;
}

#whatIsAPIKey {
	font-size: 11px;
}

#goBack {
	margin: 2px;
	cursor: pointer;
}

.apiKeyStep {
	background-color: #dc6560;
    color: white;
    padding: 6px;
	border-radius: 5px;
    margin-top: 6px;
}

.apiKeyStep img {
	margin-top: 5px;
}

.topNav {
	position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    padding: 6px;
    display: inline-flex;
}

#userInfoNavbar {
	font-size: 15px;
}

#userInfoNavbar li {
	margin-bottom: 3px;
	overflow: hidden;
}

#nmrKanjiIndicator {
	background-color: #4d70d1;
    color: white;
    padding: 2px;
}

#warningWrapper {
	text-align: center;
    background-color: #383838;
    border-radius: 5px;
    color: white;
    padding: 8px;
}

#warningWrapper span {
	font-size: 40px;
    border-radius: 50px;
    color: #dc6560;
}

#runHighlighterButton {
	margin: 9px 0;
}

.locationDiv {
    background-color: #383838;
    color: white;
    padding: 4px;
    overflow: auto;
    font-size: 18px;
    margin: 5px;
}

#message {
	margin-top: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.settingsItemCheckbox { 
	margin-left: 8px;
    margin-top: 3px;
	cursor: pointer;
}

#settingsContent {
	padding-top: 20px;
    font-size: 16px;
    display: grid;
    margin: 15px 0;
}

#settingsContent>div {
	padding: 15px 0;
}

.dangerItem>.button {
	width: fit-content;
    padding: 5px;
}

.dangerItemDescription {
	background-color: #4f4d4d;
    color: white;
    padding: 7px;
	margin-left: 4px;
	border-radius: 0 7px 7px 7px;
	font-size: 12px;
}

#blacklistedSitesWrapper {
	border: 2px solid black;
    padding: 5px;
    display: grid;
    max-height: 150px;
    overflow: auto;
}

#notRunAtWK {
	color: #f100a1;
    font-size: 14px;
    margin-top: 15px;
}

.navbar_icon>img {
	width: 18px;
	transition: 0.3s;
}

.navbar_icon:hover {
	filter: opacity(0.5);
}

i {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 7px;
}

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.up {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.left {
transform: rotate(134deg);
-webkit-transform: rotate(134deg);
}

.linkArrow {
	border-color: #d95b5b;
}

.wkhighlighter_highlighted {
	background: #4d70d1 !important;
	color: white !important;
	display: unset !important;
	font-size: 100% !important;
}

.wkhighlighter_highlighted_underlined {
	display: unset !important;
    background: unset !important;
	font-size: 100% !important;
    color: inherit !important;
    border-bottom: 3px solid #4d70d1 !important;
}

.settings_highlight_style_option {
	padding: 0px 2px;
    margin: 0px 5px;
    cursor: pointer;
}

.settings_highlight_style_option:hover {
	filter: opacity(0.5);
}

.simple_shadow {
	box-shadow: 0px 0px 4px 0px black;
}