/* Table Of Contents 					*/
/* 0. VARIABLES 						*/
/* 1. DEFAULTS 							*/
/* 2. ARROWS 							*/
/* 3. GENERAL							*/
/* 4. SECUNDARY PAGES					*/
/* 5. API KEY INPUT PAGE	 			*/
/* 6. WHAT IS API KEY PAGE 				*/
/* 7. LOGGED IN PAGE					*/
/* 		7.1 NAVBAR						*/
/* 		7.2 USER INFO					*/
/* 8. BLACKLISTED SITE PAGE				*/
/* 9. RUN OR NOT HIGHLIGHTER SITE INFO 	*/
/* 10. SETTINGS 						*/
/* 		10.1 BLACKLISTED SITES		 	*/
/* 		10.2 SETTINGS OPTIONS		 	*/
/* 		10.3 DANGER ZONE 				*/
/* 11. HIGHLIGHTS		 				*/
/* 12. FOOTER 							*/
/* 13. UNKNOW 							*/


/* 0. VARIABLES */

:root {
	--body-base-width: 200px;
	--default-color: #dc6560;
	--highlight-default-color: #4d70d1;
	--wanikani: #f100a1;
	--dark-back: #383838;
}

/* 1. DEFAULTS */

body {
	width: var(--body-base-width);
}

a {
	text-decoration: none;
	color: var(--default-color);
	transition: 0.3s;
}

a:hover {
	opacity: 0.5;
}

li {
	list-style: none;
}

p,
h2,
input,
li,
ul {
	padding: 0;
	margin: 0;
}

input,
input:focus {
	border: none;
	border-bottom: 1px solid black;
	outline: none;
}

/* 2. ARROWS */

i {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 7px;
}

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.up {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.left {
transform: rotate(134deg);
-webkit-transform: rotate(134deg);
}

/* 3. GENERAL */

.centered {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.clickable { 
	cursor: pointer;
	transition: 0.2s;
}

.clickable:hover {
	opacity: 0.5;
}

.verticalAlign {
	display: flex;
    align-items: center;
}

.button {
    background-color: var(--default-color);
    border-radius: 5px;
    color: white;
    padding: 4px;
	cursor: pointer;
	transition: 0.3s;
	text-align: center;
}

.button:hover {
	filter: brightness(1.5);
}

#submit {
	text-align: center;
	margin: 5px 0;
}

#reloadPage {
	text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

#message {
	margin-top: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.simple_shadow {
	box-shadow: 0px 0px 4px 0px black;
}

/* 4. SECUNDARY PAGES */

.topNav {
	position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    padding: 6px;
    display: inline-flex;
}

#goBack {
	margin: 2px;
	cursor: pointer;
}

/* 5. API KEY INPUT PAGE */

#whatIsAPIKey {
	font-size: 11px;
}

/* 6. WHAT IS API KEY PAGE */

.apiKeyStep,
.apiKeyStep img {
    margin-top: 6px;
}

.apiKeyStep {
	background-color: var(--default-color);
    color: white;
    padding: 6px;
	border-radius: 5px;
}


/* 7. LOGGED IN PAGE */

	/* 7.1 NAVBAR */
.navbar_icon>img {
	width: 18px;
}
	

	/* 7.2 USER INFO */

#userInfoNavbar {
	font-size: 15px;
}

#userInfoNavbar li {
	margin-bottom: 3px;
	overflow: hidden;
}

#nmrKanjiIndicator {
	background-color: var(--highlight-default-color);
    color: white;
    padding: 2px;
}

#notRunAtWK {
	color: var(--wanikani);
    font-size: 14px;
    margin-top: 15px;
}

/* 8. BLACKLISTED SITE PAGE */

#warningWrapper {
	text-align: center;
    background-color: var(--dark-back);
    border-radius: 5px;
    color: white;
    padding: 8px;
}

#warningWrapper span {
	font-size: 40px;
    border-radius: 50px;
    color: var(--default-color);
}

#runHighlighterButton {
	margin: 9px 0;
}


/* 9. RUN OR NOT HIGHLIGHTER SITE INFO */

.locationDiv {
    background-color: var(--dark-back);
    color: white;
    padding: 4px;
    overflow: auto;
    font-size: 18px;
    margin: 5px;
}

/* 10. SETTINGS */

#settingsContent {
	padding-top: 20px;
    font-size: 16px;
    display: grid;
    margin: 10px 0;
}

#settingsContent>div {
	padding: 15px 0;
}


	/* 10.1 BLACKLISTED SITES */

#blacklistedSitesWrapper {
	border: 2px solid black;
	padding: 5px;
	display: grid;
	max-height: 150px;
	overflow: auto;
}

.blacklisted_site_wrapper {
	display: inline-flex;
    padding: 5px 0;
}

.bin_container {
	text-align: right;
	width: 100%;
}

.bin_wrapper {
	cursor: pointer;
	margin-right: 7px;
	padding: 4px;
}

.bin_icon {
	width: 17px;
}


	/* 10.2 SETTINGS OPTIONS */

.checkbox_wrapper {
	text-align: right;
	margin-right: 15px;
}

.settingsItemCheckbox { 
	margin-left: 8px;
    margin-top: 3px;
	cursor: pointer;
}

.settings_highlight_style_option {
	padding: 0px 2px;
    margin-left: 10px;
}


	/* 10.3 DANGER ZONE */

.dangerItem>.button {
	width: fit-content;
    padding: 5px;
}

.dangerItemDescription {
	background-color: var(--dark-back);
    color: white;
    padding: 7px;
	margin-left: 4px;
	border-radius: 0 7px 7px 7px;
	font-size: 12px;
}

/* 11. HIGHLIGHTS */
.wkhighlighter_highlighted,
.wkhighlighter_highlighted_underlined,
.wkhighlighter_highlighted_bold {
	font-size: 100% !important;
	display: unset !important;
}

.wkhighlighter_highlighted {
	background: var(--highlight-default-color)!important;
	color: white !important;
}

.wkhighlighter_highlighted_underlined {
    background: unset !important;
    color: inherit !important;
    border-bottom: 3px solid var(--highlight-default-color) !important;
}

.wkhighlighter_highlighted_bold {	
    background: unset !important;
    color: var(--highlight-default-color) !important;
    font-weight: bold !important;
}


/* 12. FOOTER */

#footerWarning {
	font-size: 9px;
    margin-bottom: 4px;
}

/* 13. UNKNOWN */
.linkArrow {
	border-color: var(--default-color);
}