/* SUBJECT DISPLAY STYLES */

:root {
	--radical-tag-color: #65b6ae;
	--kanji-tag-color: #e7e485;
	--vocabulary-tag-color: #fc759b;
	--reading-tag-bkcolor: #2e2e2e;
	--popup-details-title-color: white;
	--popup-details-title-bkcolor: #e36f94;
	--detailsPopup-opacity: 0.8;
	--detailsPopup-width: 270px;
	--detailsPopup-lightgray: #6f6f6f;
}

	/* 0. DEFAULTS */

.sd-detailsPopup a {
	text-decoration: none !important;
}

.sd-detailsPopup * {
	padding: 0px;
	margin: 0px;
}

.sd-detailsPopup li {
	list-style-type: none !important;
}

.sd-detailsPopup div {
	display: block;
}

.sd-detailsPopup strong {
	font-weight: 600;
}

.sd-detailsPopup_kanji {
	font-size: 60px !important;
	text-align: center;
	color: white !important;
}

.sd-detailsPopup {
	background-color: var(--default-color);
    position: fixed;
    z-index: 10000;
	right: 0;
	bottom: 0;
    opacity: var(--detailsPopup-opacity);
    width: 150px;
	height: 170px;
	overflow: hidden;
	box-shadow: 0px 0px 5px 1px black;
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 1.34;
	scroll-behavior: smooth;
}

.sd-detailsPopup .sd-highlighted_bold, .sd-detailsPopup .sd-highlightedNotLearned_bold {
	color: inherit !important;
}

.sd-detailsPopup > div {
	text-align: center;
	pointer-events: none;
}

.sd-focusPopup {
    width: var(--detailsPopup-width);
	opacity: 1;
	overflow: hidden;
	transition: 0.3s;
}

.sd-focusPopup > div {
    margin-top: unset;
	pointer-events: all;
}

.sd-focusPopup > .sd-popupDetails_detailedInfoWrapper {
	text-align: left;
}

.sd-detailsPopup_clickable { 
	cursor: pointer;
	transition: 0.2s;
}

.sd-detailsPopup_clickable:hover {
	opacity: 0.5 !important;
}

.sd-detailsPopup_hidden {
	display: none !important;
}

.sd-detailsPopup_faded {
	opacity: 0.3 !important;
}

	/* 1 SCROLLBAR */

.sd-detailsPopup::-webkit-scrollbar {
	width: 10px;
}
  
.sd-detailsPopup::-webkit-scrollbar-track {
	background: var(--default-color);
}

.sd-detailsPopup::-webkit-scrollbar-thumb {
	background-color: white;    
	border-radius: 20px;        
}


	/* 2 POPUP UPPER DIV */

.sd-focusPopup_kanji {
    position: fixed;
    background-color: var(--default-color);
	transition: 0.5s;
	z-index: 2;
	display: flex !important;
    width: var(--detailsPopup-width);
    min-height: 200px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#sd-detailsPopupSubjectLock {
    bottom: 14px;
    left: 9px;
}

#sd-detailsPopupFix {
    bottom: 42px;
    left: 9px;
}

#sd-detailsPopupGoUp {
    bottom: 14px;
    right: 9px;
}

#sd-detailsPopupKeyBindings {
	bottom: 42px;
	right: 9px;
}

#sd-detailsPopupGoBack {
    top: 8px;
    left: 6px;
	transform: rotate(-90deg);
}

#sd-detailsPopupCloseX {
    top: 8px;
    right: 9px;
}

#sd-detailsPopupCopy {
    top: 8px;
}

.sd-detailsPopupButton {
	position: absolute;
	z-index: 1;
}

.sd-detailsPopupButton>img {
	width: 18px;
    filter: invert(1);
	pointer-events: none;
}

.sd-auto_height {
	height: auto !important;
}

.sd-rightOverFlowPopup {
	right: -150px !important;
}

.sd-popupDetails_readings {
	display: flex;
    flex-direction: column;
	color: white;
	font-size: 15px;
}

.sd-popupDetails_readings_row {
	overflow: hidden;
    height: 20px;
    padding-left: 15px !important;
    padding-right: 15px !important;
	display: inline-flex;
	margin: auto;
}


	/* 3 POPUP INFO DIV */

.sd-popupDetails_detailedInfoWrapper {
    color: white;
	font-size: 15px;
	margin-top: 200px !important;
	transition: 0.3s;
	text-align: left;
}

.sd-popupDetails_navbar {
	width: var(--detailsPopup-width);
    height: 35px;
    background-color: white;
    position: fixed;
	text-align: center;
	z-index: 2;
	top: 200px;
}

.sd-popupDetails_navbar > ul {
	color: black;
    display: inline-flex;
    margin: auto;
    height: 100%;
    width: 100%;
}

.sd-popupDetails_navbar > ul > li {
	width: 100%;
	opacity: 0.7;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sd-popupDetails_navbar > ul > li > div {
	width: 100%;
    display: inline-grid;
    justify-items: center;
    padding: 5px;
}

.sd-popupDetails_navbar > ul > li img {
	width: 25px;
	pointer-events: none;
}

.sd-popupDetails_anchor {
	position: relative;
	top: -240px;
}

.sd-popupDetails_separator {
	height: 20px;
    border-bottom: 2px solid white;
}

.sd-popupDetails_p {
	margin: 5px 0 !important;
}

.sd-popupDetails_kanjiTitle {
	font-size: 25px;
	margin-bottom: 15px !important;
}

.sd-popupDetails_quickStats {
	text-align: center;
	background-color: #3a374a;
	padding: 6px;
	z-index: 1;
	bottom: 0;
	position: fixed;
	width: var(--detailsPopup-width);
	border-top: 3px solid white;
}

		/* 3.1 SECTIONS */

.sd-detailsPopup_sectionContainer { 
	margin: 15px 0 !important;
}

.sd-detailsPopup_sectionContainer p:not(span) {
    color: white;
}

.sd-detailsPopup_sectionContainer > .sd-justify-list {
	justify-content: center;
}

.sd-popupDetails_title {
	color: var(--popup-details-title-color);
    background-color: var(--popup-details-title-bkcolor);
    padding: 4px 10px !important;
	border-left: 3px solid white;
}

.sd-detailsPopup radical {
	color: var(--radical-tag-color);

}

.sd-detailsPopup kanji {
	color: var(--kanji-tag-color);
}

.sd-detailsPopup vocabulary {
	color: var(--vocabulary-tag-color);
}

.sd-detailsPopup reading {
	background-color: var(--reading-tag-bkcolor);
}

.sd-detailsPopup ja {

}

.sd-detailsPopup ja,
.sd-detailsPopup radical,
.sd-detailsPopup kanji ,
.sd-detailsPopup vocabulary {
    font-weight: bolder;
}

.sd-detailsPopup_cards {
	color: inherit !important;
	font-size: 40px !important;
}

/* cancel de effect of kanji highlight in certain parts of details popup */
.sd-detailsPopup_cards, .sd-detailsPopup_kanji, .sd-detailsPopup_cards span {
	background-color: inherit !important;
	border-bottom: inherit !important;
	font-weight: inherit !important;
}

.sd-itemLevelCard {
	position: absolute;
    right: -13px;
    bottom: -5px;
    background: white;
    border: 2px solid black;
    padding: 3px !important;
    font-weight: bold;
    box-shadow: 0px 3px 0px 0px black;
    border-radius: 4px;
	pointer-events: none;
}

.sd-detailsPopup_cardRow {
    padding: 5px !important;
    margin: 5px 8px !important;
    color: black;
	border-radius: 2px;
	box-shadow: rgb(0 0 0) 0px 4px 0px 2px;
	position: relative;
	cursor: pointer;
	transition: 0.2s;
	max-width: 180px;
	min-height: 107px;
	display: inline-block;
    text-align: center;
	background-color: white;
	min-width: 90px;
}

.sd-detailsPopup_cardRow a {
	color: black !important;
    text-decoration: none !important;
    margin: auto !important;
}

.sd-detailsPopup_cardRow > div:not(:last-child) {
	pointer-events: none;
}

.sd-detailsPopup_carRow p {
	padding: 0 7px !important;
}

.sd-detailsPopup_radicals_row {
	/*box-shadow: 0px 4px 0px 2px var(--radical-tag-color) !important;*/
}

.sd-detailsPopup_kanji_row {
	/*box-shadow: 0px 4px 0px 2px var(--kanji-tag-color) !important;*/
}

.sd-detailsPopup_vocab_row {
	/*box-shadow: 0px 4px 0px 2px var(--vocabulary-tag-color) !important;*/
	width: 100%;
}

.sd-detailsPopup_cardRow:hover {
	z-index: 1;
}

.sd-detailsPopup_vocab_row:hover,
.sd-detailsPopup_kanji_row:hover {
	border-radius: 2px 0px 0px 2px;
}

.sd-detailsPopup_cardSideBar {
	width: 30px;
    background-color: white;
    position: absolute;
    height: 100%;
    right: -30px;
    top: 0;
	text-align: center;
    box-shadow: rgb(0 0 0) 2px 4px 0px 2px;
    border-radius: 0px 2px 2px 0px;
}

.sd-detailsPopup_cardSideBar > ul li:not(:last-child) {
	border-bottom: 1px solid rgb(172, 172, 172);
}


.sd-detailsPopup_cardSideBar > ul li {
	text-align: center;
}

.sd-detailsPopup_cardSideBar_icon {
	pointer-events: none;
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
	margin: auto !important;
}

.sd-detailsPopup_sentencesWrapper {
	border-left: 3px solid white;
    margin: 8px 0px !important;
    background-color: rgb(32, 32, 32);
    border-bottom-right-radius: 8px;
	transition: 0.3s;
}

.sd-detailsPopup span.wkhighlighter_clickable.wkhighlighter_hoverable {
	cursor: pointer !important;
}

	/* General */

.sd-detailsPopup_img-label, .sd-detailsPopup_label-img {
	display: flex !important;
	align-items: center;
	flex-direction: row;
}

.sd-detailsPopup_img-label > img, .sd-detailsPopup_label-img > img {
	filter: invert(1);
}

.sd-detailsPopup_img-label > img {
	margin-right: 7px;
}

.sd-detailsPopup_label-img > img {
	margin-left: 7px;
}

.fail-audio-play {
	position: absolute;
    right: -5px;
    filter: invert(1);
    width: max-content;
    background-color: red;
    padding: 4px;
    font-weight: bold;
    font-size: 9px;
    border-radius: 15px;
}

.copiedMessage {
	color: lightgray;
	font-size: 12px;
	margin-top: 4px;
}

.sd-justify-list {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    margin: 0;
	position: relative;
}

.sd-justify-list > li{
	flex-grow: 1;
	text-align: center;
	justify-content: center;
	width: fit-content;
}

.sd-popupDetails_strokes {
	margin-bottom: 10px;
	position: relative;
}

.sd-popupDetails_drawButtons {
	display: flex !important;
	align-items: center;
	flex-direction: row;
	margin-bottom: 10px;
}

.sd-popupDetails_drawButtons > .sd-detailsPopup_clickable {
	filter: invert(1);
    width: fit-content;
    padding: 5px;
    display: flex;
}

.sd-popupDetails_drawButtons > .sd-detailsPopup_clickable img {
	width: 16px;
}